/*
div[class^='highlight'] pre, div[class~='docutils'], code, .code.descname {
    background: lightgrey !important;
}

div[class^='highlight'] pre, div[class~='docutils'], code, .code.descname {
    background: rgb(214, 214, 214) !important;
}
*/
img {
/*	max-width: 100%;
    height: auto;*/
	margin-bottom: 12px;
}

table {
	margin-bottom: 12px;
}

.highlight pre {
    background: #eeeeee;
}

.highlight-cmdin pre {
    background: #e5f4ff;
}


.linenos pre {
    background: #ffffff;
}
